@font-face {
    font-family: 'DIN';
    font-weight: 200;
    src: url('font/dinl____.eot');
    src: url('font/dinl____.eot') format('embedded-opentype'),
         url('font/dinl____.woff') format('woff'),
         url('font/dinl____.ttf') format('truetype'),
         url('font/dinl____.svg#DINLightRegular') format('svg');
}


@font-face {
    font-family: 'DIN';
    font-weight: 400;
    src: url('font/dinm____.eot');
    src: url('font/dinm____.eot') format('embedded-opentype'),
         url('font/dinm____.woff') format('woff'),
         url('font/dinm____.ttf') format('truetype'),
         url('font/dinm____.svg#DINMediumRegular') format('svg');
}
    
@font-face {
    font-family: 'Clarendon';
    src: url('font/clarendonltstd-webfont.eot');
    src: url('font/clarendonltstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/clarendonltstd-webfont.woff') format('woff'),
         url('font/clarendonltstd-webfont.ttf') format('truetype'),
         url('font/clarendonltstd-webfont.svg#clarendon_lt_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
